.treeview-items {
	margin-left: 	5px;
	padding-left: 	5px;
	border-left: 	1px dotted #888;
}
.treeview-item, .treeview-items .treeview-box::before {margin-left: -5px}
/* width and margin must match */
.treeview-items .treeview-items {
	margin-left: 20px;
}
.treeview-items .treeview-item::before, .treeview-items .treeview-box::before {
	margin-top: 	-5px;
	display: 		inline-block;
	width: 			20px;
	border-top: 	1px dotted #888;
	content: 		' ';
}


.treeview-check, .treeview-items { display: none; }
.treeview-check:checked ~ .treeview-items {
	display: block;
}
.treeview-label:hover {
	background-color: rgba(0,0,0,0.6);
}

label > .treeview-box::after {
	display: 		inline-block;
	width: 			10px;
	height: 		10px;
	text-align: 	center;
	vertical-align: middle;
	font-size: 		8px;
	background: 	#fff;
	color: 			#000;
	border: 		1px solid #000;
	content: '+';
}
.treeview-check:checked ~ label > .treeview-box::after {
	content: '—';
}
